<% if @transactions.present? %>
  <h2>Parsed Transactions:</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Transaction</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction[:date] %></td>
          <td><%= transaction[:transaction_type] %></td>
          <td><%= transaction[:description] %></td>
          <td><%= transaction[:amount] %></td>
          <td><%= transaction[:balance] %></td>
          <td>
            <%= turbo_frame_tag "transaction_#{transaction.id}_category" do %>
                <%= link_to "#{transaction.category&.name || "Uncategorized"}", change_transaction_category_path(transaction), data: { turbo_frame: "transaction_#{transaction.id}_category" } %>
            <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <h2>No transactions to display</h2>
<% end %>
