<% if @transactions.present? %>
  <h2>Parsed Transactions:</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Transaction</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction[:date] %></td>
          <td><%= transaction[:transaction_type] %></td>
          <td><%= transaction[:description] %></td>
          <td><%= transaction[:amount] %></td>
          <td><%= transaction[:balance] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <h2>No transactions to display</h2>
<% end %>
