<h1>Upload Transactions</h1>

<%= form_with url: submit_transactions_path, multipart: true, method: :post do |form| %>
  <div>
    <%= form.label :file, "Choose a CSV file" %>
    <%= form.file_field :file, required: true %>
  </div>

  <div>
    <%= form.submit "Upload" %>
  </div>
<% end %>

<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %>">
    <%= message %>
  </div>
<% end %>
